/* navigation header */

.navbar-default {
	background-color: #3f6096;
}

.navbar-brand {
	height: 100%;
}

.navbar-nav {
	padding:15px;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

/* bootstrap panels */

.panel-title {
	color: white !important;
}

.panel-heading a {
	color: white !important;
}

.panel-heading {
	color: white !important;
	background-color: #3f6096 !important;
}

/* main page container */

.landingpage-container {
	width: 100%;
}

/* datasets and model tables */
.backgrid-container {
  height: 100% !important;
  background-color: white !important;
}

/* dataset search field */

.search-form {
	width: 80%;
}

.btn-toolbar:before {
   content: none;
   display: inline;
}

.btn-toolbar:after {
   clear: none;
}

@media only screen and (min-width: 1200px) {
  .search-form {
     width: 85%;
  }
}

@media only screen and (min-width: 1560px) {
  .search-form {
     width: 92%;
  }
}


@media only screen and (max-width: 700px) {
	.search-form {
	   width: 50%;
	}
}