/* make tabs resizable */
.tab-content {
  resize: vertical;
  overflow: auto
}

/* move navbar closer to top */
body>header>div.collapse.navbar-collapse {
  height: 50px;
}

/* make logo appear in collapsed navbar */
.pcoded-navbar.navbar-collapsed .header-logo img {
  -webkit-transform: unset !important;
  opacity: 1 !important;
}

/* h-align top controls with content */
.pcoded-header .navbar-nav>li:first-child {
  padding-left: 11px;
}

/* remove top padding in main content */
.pcoded-main-container .pcoded-content {
  position: relative;
  display: block;
  padding: 0px 30px 30px 30px;
}

/* https://datatables.net/examples/basic_init/scroll_x.html  */
#logviewer_wrapper {
  width: 100pct;
  margin: 0 auto;
  display: inline;
}

/* dark table text color */
.dark .table {
  color: #e2e1e1;
}

.dark .table :hover {
  color: #e2e1e1;
}

/* button with icons */
.btn-icon {
  padding: 0px 5px;
}

/* reset input field font size */
    .form-control {
  font-size: 1rem;
}

/* input field with icons, source https://bootsnipp.com/snippets/6aGm */
.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}