{% extends "dashboard/layouts/base.html" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title"></div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{{ url_for('omega-server.index_index') }}"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">{{ segment | title }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>{{ segment | title }} Chats</h5>
                    {% block segmentheader %}
                    {% endblock segmentheader %}
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-lg-12">
                    <deep-chat id="deepchat"
                      messageStyles='{"default": {"shared": {"innerContainer": {"fontSize": "1rem"}}}}'
                      inputAreaStyle='{"fontSize": "1rem"}'>
                    </deep-chat>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="module" src="{{ url_for('static', filename='assets/plugins/deepchat/deepchat.bundle.js') }}"></script>
<script>
  $(document).ready(function () {
    const chat = $('#deepchat')[0];
    chat.directConnection = {
      openAI: {
        chat: {
          model: "llama",
        },
        key: "apikey",
        validateKeyProperty: false,
      }
    };
    chat.connect = {
      url: "/api/v2/openai/chat/completions",
      stream: true,
    };
    var width = $('#deepchat').parent().width();
    var height = $('#page-wrapper').height();
    chat.chatStyle = {
      width: `${width}px`,
      height: "${height}px",
    };
    // don't ignore space key (some jquery plugin might do that)
    $('#deepchat').on('keydown', function (event) {
      if (event.key === ' ') {
        event.stopPropagation();
        return true;
      }
    });
  });  
</script>
{% endblock javascripts %}