services:
  mongo:
    image: mongo:7.0
    # https://www.mongodb.com/docs/manual/reference/ulimit/
    ulimits:
      nofile:
        soft: 20000
        hard: 64000
    ports:
      - "27017:27017"
      - "28017:28017"
    command: [ "--auth", "--oplogSize", "100", "--quiet" ]
  rabbitmq:
    image: rabbitmq:3.13
    ports:
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: foobar
  pgvector:
    image: pgvector/pgvector:pg16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: test
