include docs
recursive-include docs/source *.rst *.css *.py *.png *.gif *.svg *.jpg
recursive-include omegaml/tests/features *.feature
recursive-include omegaml/notebook/jupyterhub *.jpg
include scripts
include LICENSE
include NOTICE
include THIRDPARTY
include THIRDPARTY-LICENSES
include README.rst
include omegaml/VERSION
include Procfile
include docker-compose.yml
include Dockerfile
include requirements.txt
include conda-requirements.txt
