include README.rst
include LICENSE
include omegaee/RELEASE
include omegaee/VERSION
recursive-include omegaweb/static *
recursive-include omegaweb/templates *
recursive-include omegaweb/fixtures *
recursive-include omegaee/resources *
recursive-include omegajobs/resources *
recursive-include omegaops/resources *
