absl-py==0.15.0
accumulation-tree==0.6.2
alabaster==0.7.12
alembic==1.7.4
amqp==2.6.1
aniso8601==9.0.1
anyio==3.3.4
appdirs==1.4.3
argcomplete==1.12.3
argon2-cffi==21.1.0
asn1crypto==1.4.0
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
behave==1.2.6
billiard==3.5.0.5
bleach==4.1.0
boto==2.49.0
Brotli==1.0.9
brotlipy==0.7.0
bump2version==1.0.1
bumpversion==0.6.0
cachetools==4.2.4
callable-pip==1.0.0
celery==4.2.1
certifi==2021.10.8
certipy==0.1.3
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.7
click==7.1.2
conda==4.10.3
conda-package-handling==1.7.3
cron-descriptor==1.2.24
croniter==1.0.15
cryptography==3.4.8
cycler==0.11.0
dash==2.0.0
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dashserve==0.1.7
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
dill==0.3.4
dj-database-url==0.5.0
Django==2.2
django-allauth==0.42.0
django-anymail==2.0
django-autoslug-iplweb==1.9.4.dev0
django-bootstrap3==14.1.0
django-cities-light==3.6.0
django-classy-tags==2.0.0
django-constance==2.7.0
django-extensions==3.0.9
django-fernet-fields==0.6
django-grappelli==2.14.2
django-nose==1.4.7
django-organizations==2.0.0
django-payments==0.15.0
django-permissions==1.2.2
django-picklefield==3.0.1
django-post-office==3.0.4
django-sekizai==2.0.0
django-tastypie==0.14.2
django-tastypie-swagger==0.1.4
dnspython==2.1.0
docopt==0.6.2
docutils==0.15
entrypoints==0.3
escapism==1.0.1
Flask==1.1.4
Flask-Compress==1.10.1
flask-restx==0.5.1
gast==0.3.3
gil==1.14.0.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.41.1
gunicorn==19.7.1
h5py==2.10.0
honcho==1.0.1
httplib2==0.20.2
idna==2.10
imageio==2.6.1
imagesize==1.2.0
importlib-metadata==1.7.0
importlib-resources==5.4.0
invoke==1.6.0
ipdb==0.13.2
ipykernel==6.5.0
ipython==7.29.0
ipython-genutils==0.2.0
ipython-sql==0.4.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.1.0
json5==0.9.6
jsonfield==3.1.0
jsonschema==4.2.1
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyter-server==1.11.2
jupyterhub==1.0.0
jupyterhub-kubespawner==0.12.0
jupyterhub-simplespawner==0.1
jupyterlab==3.2.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
kafka-python==1.4.7
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
kombu==4.6.11
kubernetes==19.15.0
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
minibatch==0.4.1
mistune==0.8.4
mock==3.0.5
mongoengine==0.23.1
mysqlclient==2.0.3
nbclassic==0.3.4
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
nose==1.3.7
notebook==6.4.5
numexpr==2.7.3
numpy==1.18.5
oauthlib==3.1.1
opt-einsum==3.3.0
ordered-set==4.0.2
oscrypto==1.2.1
packaging==21.2
paho-mqtt==1.5.0
pamela==1.0.0
pandas==1.1.5
pandocfilters==1.5.0
parse==1.19.0
parse-type==0.5.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip==21.1.1
plotext==1.0.11
plotly==5.3.1
prettytable==0.7.2
progressbar2==3.55.0
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.19.1
ptyprocess==0.7.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybrake==1.0.4
pycosat==0.6.3
pycparser==2.20
pycryptodomex==3.11.0
Pygments==2.10.0
PyJWT==2.3.0
pymongo==3.12.1
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyrabbit==1.1.0
pyrabbit2==1.0.7
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
python-mimeparse==1.6.0
python-slugify==5.0.2
python-utils==2.5.6
python3-openid==3.2.0
pytz==2021.3
pyudorandom==1.0.0
PyYAML==6.0
pyzmq==22.3.0
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel-yaml-conda==0.15.100
scikit-learn==1.0.1
scipy==1.7.2
seaborn==0.11.2
selenium==3.141.0
Send2Trash==1.8.0
setuptools==58.0.4
smart-open==5.2.1
sniffio==1.2.0
snowballstemmer==2.1.0
snowflake-connector-python==2.7.0
snowflake-sqlalchemy==1.2.3
Sphinx==4.2.0
sphinx-django-command==0.1.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
splinter==0.11.0
SQLAlchemy==1.4.26
sqlparse==0.4.2
stackable==0.3.2
stripe==2.61.0
tables==3.6.1
tabulate==0.8.9
tastypiex==0.2
tdigest==0.5.2.2
tee==0.0.3
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==3.0.0
tornado==6.1
tqdm==4.54.1
traitlets==5.1.1
typing-extensions==3.10.0.2
Unidecode==1.3.2
urllib3==1.25.11
vine==1.3.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==1.0.1
wheel==0.36.1
whitenoise==3.3.1
wrapt==1.13.3
zipp==3.6.0
