absl-py==0.7.1
alabaster==0.7.12
amqp==2.5.0
aniso8601==7.0.0
argh==0.26.2
astor==0.7.1
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
behave==1.2.6
billiard==3.5.0.5
bleach==3.1.0
bokeh==1.2.0
callable-pip==1.0.0
celery==4.2.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
coverage==4.5.3
croniter==0.3.12
cycler==0.10.0
cytoolz==0.9.0.1
dask==1.1.4
decorator==4.4.0
defusedxml==0.6.0
dill==0.2.9
dismagic==0.0.1
distributed==1.26.0
docutils==0.15
entrypoints==0.3
Flask==1.0.2
flask-restplus==0.12.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.16.1
h5py==2.9.0
heapdict==1.0.0
honcho==1.0.1
idna==2.8
imagesize==1.1.0
ipdb==0.12.2
ipykernel==5.1.1
ipython==7.6.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.5.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
kombu==4.6.3
livereload==2.6.1
locket==0.2.0
lxml==4.4.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
mock==3.0.5
mongoengine==0.17.0
msgpack==0.6.1
nbconvert==5.5.0
nbformat==4.4.0
nbsphinx==0.4.2
nose==1.3.7
nosexcover==1.0.11
notebook==5.7.6
numexpr==2.6.9
numpy==1.16.4
olefile==0.46
packaging==19.0
pandas==0.24.1
pandas-datareader==0.7.4
pandocfilters==1.4.2
parse==1.12.0
parse-type==0.4.2
parso==0.5.0
partd==1.0.0
pathtools==0.1.2
pexpect==4.7.0
pickleshare==0.7.4
Pillow==6.0.0
pipdeptree==0.13.2
pkginfo==1.5.0.1
port-for==0.3.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.8.0
psutil==5.6.3
ptyprocess==0.6.0
pyenvdiff==0.3.0
Pygments==2.4.2
pylicenses==0.1
pymongo==3.7.2
pyparsing==2.4.0
pyrsistent==0.14.11
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
pyzmq==18.0.0
qtconsole==4.5.1
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.9.1
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
sh==1.12.14
six==1.12.0
snowballstemmer==1.9.0
sortedcontainers==2.1.0
Sphinx==2.1.2
sphinx-autobuild==0.6.0
sphinx-rtd-theme==0.2.4
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
splinter==0.11.0
tables==3.4.4
tabulate==0.8.2
tblib==1.4.0
tee==0.0.2
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
toolz==0.9.0
tornado==6.0.1
tqdm==4.32.2
traitlets==4.3.2
twine==1.13.0
urllib3==1.24.3
vine==1.3.0
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.4.2
wrapt==1.11.2
zict==1.0.0
