Django==1.7.11
celery==3.1.20
joblib==0.9.4
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
pymongo==3.2.2
mongoengine==0.10.6
tables==3.2.2
pandas==0.17.1
numpy==1.10.4
scipy==0.17.0
scikit-learn==0.17.1
runipy==0.1.5
croniter==0.3.12
PyYAML==3.11
nbformat==4.0.1
git+https://github.com/miraculixx/pycloudfs@v0.1.0#egg=pycloudfs-0.1.0