{% extends "landingpage/base.html" %}
{% load sekizai_tags static %}
{% block subcontent %}
{% addtoblock "css" %}
<link href="{% static 'omegaweb/js/libs/backgrid/libs/backgrid.css' %}" rel="stylesheet">
{% endaddtoblock "css" %}
<div class="row menu">
	<div class="col-md-3">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="#collapseOne"><span
							class="glyphicon glyphicon-folder-close"> </span>contents</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<table class="table">
							<tr>
								<td><span class="glyphicon glyphicon-pencil text-primary"></span><a
									data-target='.panel.app' href="#datasets">Datasets</a>
								</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-pencil text-primary"></span><a
									data-target='.panel.account' href="#models">Models</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
              href="#collapseOne"><span
              class="glyphicon glyphicon-folder-close"> </span>development</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td><span class="glyphicon glyphicon-pencil text-primary"></span><a
                  data-target='.panel.app' href="{{nbhost}}" target=_>Notebook</a>
                </td>
              </tr>
              <tr>
                <td><span class="glyphicon glyphicon-pencil text-primary"></span><a
                  data-target='.panel.app' href="https://omegaml.github.io/omegaml/index.html"
                  target=_>Documentation</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
	</div>
<div>
<div>
  <div class="col-sm-9 col-md-9">
    <div class="well panel app open datasets">
      <h3 id='datasets'>Datasets</h2>
			<div class="table-responsive backgrid-container"></div>
    </div>
    <div class="well panel app open models">
      <h3 id="models">Models</h2>
      <div class="table-responsive backgrid-container"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block custom %}
{% addtoblock "pagejs" %}
<script>
$(function() {
    require(['omegaweb/js/views/generictable',
             'omegaweb/js/models/dataset',
             'omegaweb/js/models/model',
             'backbone'], function(GenericTableView, Dataset, Model, $B) {
        function column(name, label, cell, options) {
            var coldef = {
                name : name,
                label : label,
                cell : cell || 'fixed-width',
                width: 80,
                editable: true,
                btnClassName: 'btn-default',
                btnText: '',
                icon: 'fa fa-table',
            };
            return _.defaults(coldef, options);
        };;
       var tableOptions = {
          columns: [column('name', 'Name'), column('kind', 'Kind'),
                    column('view', 'View', 'button')],
       };
       /* fetch datasets */
       var datasets = new Dataset.objects({
       });
       datasets.fetch({
           reset: true,
       });
       /* fetch models */
       var models = new Model.objects({
       });
       models.fetch({
           reset: true,
       });
       /* parse data */
       function mapDatasetToTableData(data) {
           var tableData = _.map(data.objects, function(obj) {
                   return {
                       'name': obj.data.name,
                       'kind': obj.data.kind,
                   }
           });
           return tableData;
       };
       function mapModelToTableData(data) {
           var tableData = _.map(data.objects, function(obj) {
               return {
                   'name': obj.model.name,
                   'kind': obj.model.kind,
               }
           });
           return tableData;
       };
       datasets.parse = mapDatasetToTableData;
       models.parse = mapModelToTableData;
       /* display  */
       var datasetsView = new GenericTableView({
           el: '.panel.datasets',
           tableOptions: tableOptions,
           collection: datasets,
       });
       datasetsView.on('row:edit', function(model) {
           var dsName = encodeURIComponent(model.datasetName);
           window.open('/dataset/{0}/'.format([dsName]));
       });
       datasetsView.render();
       var modelsView = new GenericTableView({
           el: '.panel.models',
           tableOptions: tableOptions,
           collection: models,
       });
       modelsView.render();
    });
});
</script>
{% endaddtoblock "pagejs" %}
{% endblock %}
