{% extends "dashboard/layouts/base.html" %}
{% block title %}Page Blank{% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.2/jsoneditor.min.css"
  integrity="sha512-brXxIa/fpMfluh8HUWyrNssKy/H0oRzA0HhmipgfVwbXPamMUTZn1jEsvoGGwJYCRpSx4idujdul4vFwWgPROA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock stylesheets %}
{% block content %}
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title"></div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="/{{ segment }}">{{ segment | title }}</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">{{ name }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <!-- [ tabs ] start -->
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>{{ meta.name }}</h5>
                  </div>
                </div>
                <hr>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active text-uppercase" id="docs-tab" data-toggle="tab" href="#docs" role="tab"
                      aria-controls="docs" aria-selected="false">Documentation</a>
                  </li>
                  {% block tabitems %}
                  {% endblock tabitems %}
                  {% if summary.revisions %}
                  <li class="nav-item">
                    <a class="nav-link text-uppercase" id="revisions-tab" data-toggle="tab" href="#revisions" role="tab"
                      aria-controls="revisions" aria-selected="false">Revisions</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link text-uppercase" id="metadata-tab" data-toggle="tab" href="#metadata" role="tab"
                      aria-controls="metadata" aria-selected="false">Metadata</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="docs" role="tabpanel" aria-labelledby="docs-tab">
                    <div id="docseditor" class="form-group" style="width: 100pct;
                                  min-height: 500px"></div>
                    <div id="docsviewer" class="form-group" style="width: 100pct;
                                  min-height: 500px"></div>
                    <button type="submit" id="save-docs" class="btn btn-primary mb-2">Save</button>
                    <button type="reset" id="edit-docs" class="btn btn-primary mb-2">Edit</button>
                  </div>
                  <div class="tab-pane fade" id="revisions" role="tabpanel" aria-labelledby="revisions-tab">
                    <p>{{ summary.revisions }}</p>
                  </div>
                  {% block tabcontents %}
                  {% endblock tabcontents %}
                  <div class="tab-pane fade" id="metadata" role="tabpanel" aria-labelledby="metadata-tab">
                    <p>
                      <b>Kind</b>&nbsp;{{ meta.kind }}&nbsp;<b>Created</b>&nbsp;{{ summary.created
                      }}&nbsp;<b>Modified</b>&nbsp;{{ summary.modified }}&nbsp;
                    </p>
                    <div id="jsoneditor" class="form-group" style="width: 100pct;
                                  height: 500px"></div>
                    <button type="submit" id="save-meta" class="btn btn-primary mb-2">Save</button>
                  </div>
                </div>
              </div>
              <!-- [ tabs ] end -->
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.2/jsoneditor.min.js"
  integrity="sha512-MP2pEPP3BGw032ovuAsX6yTu7O4J6L3YTXuyq3IpR+LuwRun9BBjOeeIKgO3bRiNlI88x3oCVb9I1/1+xmvFIg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
  var metadata = {{ meta | tojson }};
  $(function () {
    // initialize metadata editor
    var jsonEditor = new JSONEditor($('#jsoneditor')[0], {
      mode: 'tree',
    });
    var attributes = {{ meta.attributes | tojson
  }};
  jsonEditor.set(attributes);
  // initialize docs editor
  //const { chart, codeSyntaxHighlight, colorSyntax, tableMergedCell, uml } = toastui.Editor.plugin;
  $('#docseditor').hide();
  $('#save-docs').hide();
  var docsEditor = new toastui.Editor({
    el: $('#docseditor')[0],
    initialValue: attributes.docs || '',
    //plugins: [[chart, chartOptions], [codeSyntaxHighlight, { highlighter: Prism }], colorSyntax, tableMergedCell, uml]
    usageStatistics: false,
  });
  var docsViewer = new toastui.Editor.factory({
    el: $('#docsviewer')[0],
    initialValue: attributes.docs || '',
    viewer: true,
    //plugins: [[chart, chartOptions], [codeSyntaxHighlight, { highlighter: Prism }], colorSyntax, tableMergedCell, uml]
    usageStatistics: false,
  });
  $('#edit-docs').on('click', function (e) {
    e.preventDefault();
    $('#docsviewer').hide();
    $('#edit-docs').hide();
    $('#docseditor').show();
    $('#save-docs').show();
  });
  $('#save-docs').on('click', function (e) {
    e.preventDefault();
    var markdown = docsEditor.getMarkdown();
    var payload = {
      attributes: {
        docs: markdown || '',
      }
    };
    $.ajax({
      url: '/{{segment}}/{{meta.name}}/update',
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify(payload),
      success: function (data) {
        docsViewer.setMarkdown(markdown);
        $('#edit-docs').show();
        $('#save-docs').hide();
        $('#docseditor').hide();
        $('#docsviewer').show();
      }
    });
  });
    });
</script>
{% endblock javascripts %}