{% extends "dashboard/layouts/base.html" %}
{% block title %}Page Blank{% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ config.ASSETS_ROOT }}/plugins/datatables/datatables.min.css" />
{% endblock stylesheets %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title"></div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{{ url_for('omega-server.index_index') }}"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">{{ segment | title }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>{{ segment | title }} repository</h5>
                    {% block segmentheader %}
                    {% endblock segmentheader %}
                  </div>
                </div>
                <div class="card">
                  <div class="card-block">
                    <div class="table-responsive">
                      <table id="list-table" class="table table-hover">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Kind</th>
                            <th>Created</th>
                            <th>Last Update</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in items %}
                          <tr>
                            <td>
                              <a href="{{ url_for('omega-server.index') }}/{{ segment }}/{{ item.name }}">
                                {{ item.name }}</a>
                            </td>
                            <td>{{ item.kind }}</td>
                            <td>{{ item.created }}</td>
                            <td>{{ item.modified }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="{{ config.ASSETS_ROOT }}/plugins/datatables/datatables.min.js"></script>
<script>
  // [ Zero Configuration ] start
  $('#list-table').DataTable();

</script>
{% endblock javascripts %}