<!-- Favicon icon -->
<link rel="icon" href="{{ config.ASSETS_ROOT }}/images/favicon.ico" type="image/x-icon">
<!-- fontawesome icon -->
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/fonts/fontawesome/css/all.min.css">
<!-- animation css -->
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/plugins/animation/css/animate.min.css">
<!-- datatables css -->
<link rel="stylesheet" type="text/css" href="{{ config.ASSETS_ROOT }}/plugins/datatables/datatables.min.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ config.ASSETS_ROOT }}/plugins/datatables/datatables.bootstrap4.min.css"/>
<!-- vendor css -->
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/style.css">
<!-- dark mode css -->
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/dark.css">
<!-- notify css -->
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/plugins/simple-notify/simple-notify.css"/>
{% include 'dashboard/includes/css.html' %}