{% load staticfiles %}

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="{% static 'logo.jpg' %}"></img></a>
  </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
      <li><a href="/dashboard">Dashboard</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">API<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a target=_ href="/api/redoc">Redoc</a></li>
          <li><a target=_ href="/api/doc/v1/">Swagger</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/profile/user/">Account</a></li>
          <li><a href="/accounts/logout/">Logout</a></li>
        </ul>
      </li>
    </ul>
   </div>
</nav>

