{% extends "dashboard/layouts/detail.html" %}
{% block content %}
  {{ super() }}
  {% block tabitems %}
    <li class="nav-item">
      <a class="nav-link text-uppercase"
         id="results-tab"
         data-toggle="tab"
         href="#results-content"
         role="tab"
         aria-controls="results"
         aria-selected="false">Results</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-uppercase"
         id="schedule-tab"
         data-toggle="tab"
         href="#schedule-content"
         role="tab"
         aria-controls="schedule"
         aria-selected="false">Scheduling</a>
    </li>
  {% endblock tabitems %}
  {% block tabcontents %}
    <div class="tab-pane fade"
         id="results-content"
         role="tabpanel"
         aria-labelledby="results-tab">
      <div class="nav"></div>
      <div id="results-table" class="table-responsive">
        <table id="results-viewer"
               class="table nowrap table-hover display compact"
               style="width: 100%">
          <thead>
            <tr>
              <th>Result</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="tab-pane fade"
         id="schedule-content"
         role="tabpanel"
         aria-labelledby="schedule-tab">
      <div class="nav"></div>
      <div id="scheduler">
        <!-- https://getbootstrap.com/docs/4.6/components/forms/#switches -->
        <!--
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" checked id="schedule-toggle">
          <label class="custom-control-label" for="schedule-toggle">Run this job automatically</label>
        </div>
        -->
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="input-group mb-3">
              <input type="text"
                     id="schedule-input"
                     value="{{ schedule.text }}"
                     class="form-control"
                     placeholder="<time>, <weekdays>, <months> or <cron-expression>"
                     aria-label="schedule-input"
                     aria-describedby="schedule-input">
                <div class="input-group-append">
                  <span class="input-group-text input-group-addon success"
                        id="schedule-valid"><i class="fa-solid fa-check"></i></span>
                </div>
              </div>
              &nbsp;
            </div>
          </div>
        </div>
        <div id="schedule-table" class="table-responsive">
          <table id="schedule-viewer"
                 class="table nowrap table-hover display compact"
                 style="width: 100%">
            <thead>
              <tr>
                <th>Event</th>
                <th>Trigger</th>
                <th>Start</th>
                <th>Status</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    {% endblock tabcontents %}
    <div>
      <div class="modal fade"
           id="exampleModal"
           tabindex="-1"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>This is the content of the modal. You can add any HTML or components here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}
  {% block javascripts %}
    {{ super() }} <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/plugins/datatables/datatables.min.js"></script>
    <script src="{{ url_for('static', filename='assets/plugins/plotly/plotly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/views/repository/jobs_detail.js') }}"></script>
    <script>
  var context = {
      "name": "{{ meta.name }}",
      "triggers": {{ triggers|tojson }},
      "schedule": {{ schedule|tojson }},
  };
  console.log(context);
    </script>
  {% endblock javascripts %}
