# documentation packages
# -- we don't specify version dependencies to always have the most recent packages for document building
# -- if you want a working fixed set see fixed-requirements.doc
nbsphinx                                                                                                                                                                     
pandoc                                                                                                                                                                       
pandocfilters                                                                                                                                                                
Sphinx                                                                                                                                                                       
sphinx-autobuild                                                                                                                                                             
sphinx-rtd-theme                                                                                                                                                             
pygments    
sphinxcontrib-jquery
#sphinx-multiversion
# due to https://github.com/sphinx-contrib/multiversion/pull/202
git+https://github.com/sphinx-contrib/multiversion@450b00deb621ac24f6cc110961ded4c48d35ba5f#egg=sphinx-multiversion
sphinx-toolbox


