# documentation packages
# -- we don't specify version dependencies to always have the most recent packages for document building
# -- if you want a working fixed set see fixed-requirements.doc
nbsphinx                                                                                                                                                                     
pandoc                                                                                                                                                                       
pandocfilters                                                                                                                                                                
Sphinx                                                                                                                                                                       
sphinx-autobuild                                                                                                                                                             
sphinx-rtd-theme                                                                                                                                                             
pygments    

sphinxcontrib-jquery==4.1
